{
  "guild_id": 1,
  "logs_channel": 1,
  "modmail_channel": 1,
  "events_role_id": 1,
  "events_channel_id": 1,
  "subject_channels_id": 1,
  "study_role_id": 1,
  "bot_staff_role_id": 1,
  "decay_logs_channel": 1,
  "event_coordinator_role_id": 1,
  "appeals_channel_id": 1,
  "special_perms_role_id": 1,
  "esclusion_role_id": 1,
  "owner_ids": [
    1,
    1
  ],
  "command_prefix": "!!",
  "project_root": "APBot",
  "colors": {
    "yellow": "0xffff00",
    "orange": "0xFFA500",
    "light_orange": "0xFFA07A",
    "dark_orange": "0xFF5733",
    "red": "0xFF0000",
    "green": "0x00FF00",
    "blue": "0x00FFFF"
  },
  "recurrent_config": {
    "1000": {
      "limit": 100,
      "dicts": [
        {...}
      ]
    }
  }
}
